= content_tag :li, title: 'Click and drag to sort genres.', class: "ui-state-default", :'data-id' => genre.id do
  %h4= genre.name
  = link_to location_genre_path(@location, genre), class: 'th' do
    = image_tag 'default.gif'
  %ul.button-group.right
    %li
      = link_to 'edit', edit_location_genre_path(@location, genre), class: 'button small secondary'
    %li
      = link_to 'delete', location_genre_path(@location, genre),
        class: 'button small secondary',
        method: :delete,
        confirm: "Are you sure you wish to delete the \"#{genre.name}\" genre?\n(The artists and their art in this genre will not be deleted; they must be deleted from their respective pages.)"
